    /*Estilo para tablet*/
    
    @media only screen and (min-width: 788px) and (max-width: 979px) {
        body {
            width: 100vw;
        }
    }
    /*Estilo para SmartPhone*/
    
    @media only screen and (min-width: 300px) and (max-width: 787px) {
        .painel {
            display: block;
            width: 100vw;
            height: 100vh;
        }
        .art {
            visibility: hidden;
            max-width: 0%;
            margin: 25px 100px 0px 100px;
        }
        .section_form {
            width: 90vw;
            height: 100vh;
            margin: 0px auto;
            padding: 0px 0px 0px 0px;
        }
        .section_form img {
            margin: 0px 5px 0px 5px;
            width: 90%;
            margin: 0 auto;
        }
        .section_form h1 {
            width: 100%;
            margin: 5px 0px 5px 0px;
        }
        .Fomulario_contato {
            max-width: 100vw;
            min-width: 50vw;
            max-height: 50vh;
        }
        .Fomulario_contato input,
        .Fomulario_contato textarea {
            width: 90%;
            margin: 0px 0px 0px 0px;
        }
        .Fomulario_contato label {
            margin: 0px;
        }
        .Fomulario_contato ul li input {
            width: 10px;
            margin: 0px 0px 0px 1px;
            padding: 0px 0px 0px 2px;
        }
        .Fomulario_contato label {
            margin-top: 25px;
        }
        .Fomulario_contato textarea {
            margin-bottom: 15px;
        }
        .Fomulario_contato button {
            margin: 0px 100px 0px 100px;
            width: 50%;
        }
        .Fomulario_contato div {
            margin: 0px 50px 0px 50px;
        }
    }